@import "tailwindcss";
@config "../../tailwind.config.js";

:root {
	color-scheme: light dark;
}
html.dark {
	color-scheme: dark;
}

html {
	font-size: 110%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Cinzel Decorative", serif;
}

p,
span,
a,
li,
div,
input,
button,
textarea {
	font-family: "Asul", sans-serif;
}

body {
	font-family: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card-hover {
  @apply transition-transform duration-300 hover:scale-105 hover:skew-0 hover:rotate-0;
}